.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 2em 2em 2em 2em;
}

.PostCard {
    width: 380px;
    margin: 1em 1em 1em 1em;
    
}

/* Side Buttons */
.SideButtons {
	position: fixed;
    display: flex;
    flex-direction: column;
	top: 240px;
    right: 0;
    list-style: none;
    z-index: 99;
}

.SideButtons li a img {
	max-width:40px;
    -webkit-transition:  background .2s ease-in-out;
    -moz-transition:  background .2s ease-in-out;
    -o-transition:  background .2s ease-in-out;
    transition:  background .2s ease-in-out;
}

.SideButtons li a:hover img {background: rgba(0, 0, 0, 0);}


@media (min-width: 1700px) {
    .Posts {
        width: 1650px;
    }
}
