.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* width: 95%; */
    /* margin: auto; */
    padding: 1em;
}

.PostCard {
    width: 280px;
    margin: 1em 1em 1em 1em;
    
}

/* Side Buttons */
.SideButtons {
	position: absolute;
    display: flex;
    flex-direction: column;
	top: 40px;
    right: -1em;
    list-style: none;
    z-index: 99;
}

.SideButtons li a img {
	max-width:40px;
    -webkit-transition:  background .2s ease-in-out;
    -moz-transition:  background .2s ease-in-out;
    -o-transition:  background .2s ease-in-out;
    transition:  background .2s ease-in-out;
}

.SideButtons li a:hover img {background: rgba(0, 0, 0, 0);}


@media (min-width: 1700px) {
    /* .Posts {
        width: 1650px;
    } */
}
