/* LAYOUT */

.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: visible;
}

.Content {
  flex: 1;
}

/* HEADER */

.Header {
  background: linear-gradient(to top right, #d1d8f4, #d9cfd0, #d6b8a5, #d87e79, #a94c40);
  height: 140px;
  padding-top: 10px;
  padding-left: 30px;
  text-align: left;
}

.HeaderTitle {
  margin-top: 16px;
  padding: 2px;
  color: #a94c40;
  font-weight: bolder;
  font-size: 2em;
}

.HeaderSubtitle {
  padding: 2px;
  margin-top: 0.4em;
  font-size: 1em;
}

/* FOOTER */

.Footer {
  background: linear-gradient(to bottom right, /*#7f8a68, */
  #bbc3bb, #d1beb0, #d6b8a5);
  margin-top: 32px;
  height: 26px;
  padding: 13px 40px 10px 16px;
  text-align: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  color: #573c56;
  font-size: 0.8em;
}

.Footer a {
  color: #573c56;
}