/* LAYOUT */

.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: visible;
  background-color: var(--background-light);
  width: 80%;
  margin: auto;
}

.Content {
  position: relative;
  flex: 1;
  padding: 1em 0em;
}

/* HEADER */

.Header {
  background: linear-gradient(to top right, #d1d8f4, #d9cfd0, #d6b8a5, #d87e79, #a94c40);
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 0.6em;
  padding: 2em 0em;
  text-align: left;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  /* Enable hiding things behind...*/
  z-index: 20;
}

.HeaderTitle {
  margin-top: 16px;
  padding: 0em 1em;
  color: var(--highlight-color);
  font-weight: bolder;
  font-size: 2em;
}

.HeaderSubtitle {
  padding: 0em 2em;
  margin-top: 0.4em;
  font-size: 1em;
}

/* FOOTER */

.Footer {
  background: linear-gradient(to bottom right, /*#7f8a68, */
  #bbc3bb, #d1beb0, #d6b8a5);
  margin-top: 2em;
  /* height: 1.4em; */
  padding: 0.8em 2em 0.8em 2em;
  text-align: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  /* color: #573c56; */
  font-size: 0.8em;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.Footer a {
  padding-right: 1em;
  padding-left: 1em;
}

@media (max-width: 1400px) {
  .Container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .Container {
    width: 100%;
  }
}

@media (max-width: 849px) {

  .Content {
    padding: 0.4em 0em 1em 0em;
  }

  .Header {
    padding: 1em 0em;
    margin-bottom: 0.2em;
  }

  .HeaderTitle {
    margin-top: 0.5em;
    padding: 0em 0.5em;
    font-size: 1.2em;
  }
  .HeaderSubtitle {
    padding: 0em 0.6em;
    margin-top: 0.4em;
    font-size: 1em;
  }
}