.PageContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  width: 100%;
  margin-top: 1em;
  margin: auto;

  padding: 0.4em 1em;
}

.Page, .Intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.Page {
  margin-top: 2em;
  padding: 1em 2em;
}

.Intro {
  margin-top: 0.5em;
  padding: 1em 1em;
}

.PageTitle, .IntroTitle {
  color: var(--highlight-color);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.6em;
  line-height: 1.4em;
  margin-bottom: 0.8em;
}

.IntroTitle {
  margin-top: 2em;
}

.PageSubtitle, .IntroSubtitle {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 0.4em;
}

.IntroBody, .PageBody {
  text-align: left;
  /* margin: auto; */
}

/* Home */ 

.IntroImage {
  float: right;
  width: 400px;
  height: 550px;
  margin-left: 30px;
  vertical-align: top;
}


/** BLOG STYLING */

.Posts {
  /*border-top: 1px solid  #d87e79;*/
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  padding: 1em ;
  margin: auto;
}

.Post {
  padding: 2em 0em ;
  border: 1px solid  #d87e79;
  box-shadow: 0 2px 3px var(--highlight-color);
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
} 

.PostTitle, .IntroTitle {
  color: var(--highlight-color);
  font-size: 1.5em; 
}


@media (max-width: 849px) {
  body, html {
    position: relative;
    overflow-x: hidden;
  }

  .PageContainer {
    width: 95%;
    margin-top: 1em;
    padding: 0.4em 0.3em;
  }
  
  .Page {
    margin-top: 0.1em;
    padding: 0.4em;
  }

  .Intro {
    margin-top: 0;
    padding: 0.1em 0.5em;
  }

  .PageTitle {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0.4em;
  }
  
  .PageSubtitle, .IntroSubtitle {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0.2em;
  }
  
  .PageBody {
    text-align: left;
    padding-right: 0.3em;
  }

  .Posts {
    width: 90%;
    margin-top: 0.2em;
    padding: 0.5em ;
  }

  .Post {
    padding: 1em 0em;
  }
  
  .IntroTitle {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .IntroImage {
    display: none;
  }
}