.PageContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  width: 100%;
  margin-top: 1em;
  margin: auto;

  padding: 0.4em 1em;
}

.Page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 2em;
  padding: 1em 2em;
}

.PageTitle {
  color: var(--highlight-color);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.6em;
  line-height: 1.4em;
  margin-bottom: 0.8em;
}

.PageSubtitle {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 0.4em;
}

.PageBody {
  text-align: left;
  /* margin: auto; */
}

/* Home */ 

.Intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.IntroTitle {
  color: var(--highlight-color);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.6em;
  line-height: 1.6em;
  margin-top: 2em;
  margin-bottom: 0.8em;
}


.IntroBody, .IntroTitle {
  text-align: left;  
  margin: auto;
}

.IntroImage {
  float: right;
  width: 400px;
  height: 550px;
  margin-left: 30px;
  vertical-align: top;
}


/** BLOG STYLING */

.Posts {
  /*border-top: 1px solid  #d87e79;*/
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  padding: 1em ;
  margin: auto;
}

.Post {
  padding: 2em 0em ;
  border: 1px solid  #d87e79;
  box-shadow: 0 2px 3px #a94c40;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
} 

.PostTitle, .IntroTitle {
  color: #a94c40;
  font-size: 1.5em; 
}


@media (max-width: 991px) {
  body, html {
    position: relative;
    overflow-x: hidden;
  }

  .Posts {
    width: 100%;
  }
  
}