.Toolbar {
    position: sticky;
    height: 2em;
    width:100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0 1em;
    box-sizing: border-box;
    z-index: 90;
}

.PrivMenuBox {
    position: absolute;
    right: 20px;
    top: 2px;
    font-size: 0.8em; 
    opacity: 0.7;
    z-index: 30;
}

.PrivateNav {
    display: flex;
}

.PrivMenuLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.DrawerToggle {
    color: transparent;
    display: none;
}

.Toolbar nav {
    height: 100%;
}

@media (max-width: 849px){
    .DesktopOnly{
        display: none;
    }

    .Toolbar{
        height: 0em;
    }

    .PrivMenuBox {
        right: 20px;
        top: 1em;
        z-index: 1;
    }

    .PrivateNav {
        display: none;
        font-size: 0em; 
        opacity: 0;
    }

    .DrawerToggle {
        color: var(--highlight-color);
        font-size: 2em; 
        display: block;
    }
}
