.Post {
    width: 100%;
    margin: 0px auto;
}
  
.Title, h1 {
    color: var(--highlight-color);
    text-align: left;
    font-size: 1.5em;
    font-weight: normal; 
}

h2 {
    color: var(--highlight-color);
    font-size: 1.2em;
    font-weight: bold; 
}

.SubCard {
    font-size: 1.0em;
    margin : 16px;
    width: 90%;
    text-align: left;  
}

.Desc, h3 {
    font-size: 1.0em;
    font-style: italic;
    margin-top: 24px;
    margin-bottom: 8px;
}
  
.Body {
      text-align: left;  
}  

/* Side Buttons */
.SideButtons {
	position: absolute;
    display: flex;
    flex-direction: column;
	top: 80px;
    right: 0;
    list-style: none;
    z-index: 99;
}

/* .SideButtons li a { background: rgba(0, 0, 0, .2); } */

.SideButtons li a img {
	max-width:40px;
    -webkit-transition:  background .2s ease-in-out;
    -moz-transition:  background .2s ease-in-out;
    -o-transition:  background .2s ease-in-out;
    transition:  background .2s ease-in-out;
}

.SideButtons li a:hover img {background: rgba(0, 0, 0, 0);}

@media (min-width: 850px) {
    .SubCard {
        width: 800px;
        margin: auto;
    }

    /* .SideButtons {
        top: 420px;
    } */
}
