.Post {
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc; */
    text-align: left;
}

  
.PageTitle, h1 {
    color: #a94c40;
    font-size: 1.5em;
    font-weight: normal; 
 }

h2 {
    font-size: 1.2em;
    font-weight: normal; 
    color: black;
}

.PageSubtitle, h3 {
    font-size: 1.0em;
    font-style: italic;
    margin-bottom: 16px;
}
  
.PageBody {
      text-align: left;  
}  

.Edit {

}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: darkred;
}