.NavigationItem {
    margin: 2px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

.NavigationItem a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a.active {
    color: var(--highlight-color);
}

@media (min-width: 500px){
    
    .NavigationItem {
        margin: 0px 0;
        width: auto;
        /* display: flex; */
    }
    
    .NavigationItem a, 
    .NavigationItem a:link,
    .NavigationItem a.visited
    {
        /* height: 100%;*/
        padding: 0.3em 0.5em; 
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a:focus
     {
        border-bottom: 1px solid var(--highlight-color);;
    }

} 