.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a.active {
    color: #a94c40;
}

@media (min-width: 500px){
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center ; 
    }
    
    .NavigationItem a, 
    .NavigationItem a:link,
    .NavigationItem a.visited
    {
        color: #f1d923;
        height: 100%;
        padding: 8px 10px;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a:focus
     {
        /* background-color: #f1d923; */
        /* box-shadow: 0 1px 2px #f0150a; */

        /* border-radius: 5px; */
        border-bottom: 1px solid #619015;
       /* border-bottom: 2px solid #d87e79; */
        /* box-shadow: 0 2px 3px #f0150a; */

        /* color: #f0150a; */
    }

} 