.EditPost {
    width: 100%;
    height: 94%;
    margin: 0px auto;
    text-align: left;
}

.TabContent {
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 2px 2px;
}

.TabInnerCol {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.Meta {
    margin: 0.2em;
    padding: 0.2em;
    /* border: 2px solid salmon; */
}

.MetaField {
    padding: 0.2em;
    /* border: 2px solid yellowgreen; */
}

.EditPost {
    position: relative;
    width: 100%;
    padding: 1em 0em;
}

/* MARKDOWN EDITOR */

.Preview > div {
    text-align: left;
    right: 0;
    /* left: 50%; */
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.2em;
}

.TabInnerCol textarea {
    padding: 0px 15px;
    min-height: 500px;
}

.CodeMirror {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    font-size: 14px;
}

/* SIDE BUTTONS */

.SideButtons {
	position: absolute;
    display: flex;
    flex-direction: column;
	top: 40px;
    right: 0px;
    list-style: none;
    z-index: 99;
}

/* .SideButtons li a { background: rgba(0, 0, 0, .2); } */

.SideButtons li a img {
	max-width:40px;
    -webkit-transition:  background .2s ease-in-out;
    -moz-transition:  background .2s ease-in-out;
    -o-transition:  background .2s ease-in-out;
    transition:  background .2s ease-in-out;
}

.SideButtons li a:hover img {background: rgba(0, 0, 0, 0);}

@media (min-width: 850px){
    .TabContent {
        flex-direction: row;
    }
}
