.Content {
    flex: 1;
    /* margin-top: 16px; */
    min-height: 100%;
}

.Header {
    background-color: red;
}
.Toolbar {
    background-color: green;
}
.Footer {
    background-color: purple;
}


