.Header {
    background: linear-gradient(to top right,#7070b7, #333399,#333399,#40268c,#4d1a80, #490d73, #410066);  
    height: 140px;
    padding : 0px 20px 0px 20px;
    text-align: left;
}
  
.Logo {
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
}

.Logo img {
    height: 100%;
}

.HeaderTitle {
    margin-top: 16px;  
    padding: 2px;
    color: #f1d923;
    font-weight: bolder;
    font-size: 2em;
}
  
  .HeaderSubtitle {
    padding: 2px;
    font-size: 1.5em;
    color: #f1d923;
  }

@media (max-width: 399px){
    .Header {
        height: auto;
        padding: 8px;
    }

    .Logo {
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    
    .Logo img {
        width: 100%;
    }
    
}

@media (max-width: 849px){
    .Header {
        height: 80px;
    }
}
  

  

