.Header {
    background: linear-gradient(to top right,#333399,#40268c,#4d1a80, #490d73, #410066);  
    height: 140px;
    padding-top: 0px;
    padding-left: 20px;
    text-align: left;
}
  
.Logo {
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
}

.Logo img {
    height: 100%;
}

.HeaderTitle {
    margin-top: 16px;  
    padding: 2px;
    color: #f1d923;
    font-weight: bolder;
    font-size: 2em;
}
  
  .HeaderSubtitle {
    padding: 2px;
    font-size: 1.5em;
    color: #f1d923;
  }

  /* @media (min-width: 500px){
    .NavigationItems {
        flex-flow: row wrap; 
    }
}

@media (min-width: 800px){
    .NavigationItems {
        flex-flow: row; 
    }
} */
  