.PostCard {
    width: 96%;
    padding: 8px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Title {
    color: #a94c40;
    font-size: 1.5em; 
}
  
.Desc {
    font-size: 1.0em;
    margin: 16px 0;
    color: #3c3f63;
    /* font-style: italic; */
}

.PostCard:hover,
.PostCard:active {
    background-color: rgb(245, 250, 255);
}

.Author {
    margin: 8px 0;
    color: #ccc;
}

@media (min-width: 800px){
    .PostCard {
        width: 600px;
    }
}