.PostCard {
    width: 96%;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Title {
    color: #a94c40;
    font-size: 1.5em; 
}
  
.Subtitle {
    font-size: 1em;
    margin: 16px 0;
    color: #3c3f63;
    font-style: italic;
}

.PostCard:hover,
.PostCard:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}

.Desc {
    font-size: 1.2em;
    font-style: italic;
}

@media (min-width: 800px){
    .PostCard {
        width: 600px;
    }
}