.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

/*     background:linear-gradient(#888, #ccc, #8bb38e), url("/imgRepo/tract-4.2.jpg") no-repeat;
*/
.AnonBody {
    background: url("/imgRepo/tract-4.6.jpg");
    background-size:  cover;
    min-height: 100%;
    flex: 1;
}

.Form {
    margin: 1em;
}


.OuterBox {
    display: table;
    margin: 6em auto;
}

.LeftCol {
    display: table-cell;
    width: 50%;
}
.RightCol {
    display: table-cell;
    width: 50%;
    align-content: center;
}

.RegisterForm {
    height: auto;
    width: 100%;
	margin: auto;
	background: #F1F8E9;
    border: 1px solid #FFCDD2;
    box-shadow: 0 2px 3px #EF9A9A;
}

.AuthForm {
    min-width: 320px;
	background: #F1F8E9;
    border: 1px solid #FFCDD2;
    box-shadow: 0 2px 3px #EF9A9A;
}

.FormHeader {
    padding: 1em;
}

.InnerBox {
    padding: 1em 2em 2em 2em;
}

@media (min-height: 500px) {
    .OuterBox {
        padding: 2em 2em 0em 0em;
    }
}

@media (min-height: 600px) {
    .OuterBox {
        padding: 3em 2em 0em 0em;
    }
}


@media (max-width: 475px) {
    .AuthForm {
        width: 80%;
    }
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}