.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row; 
    align-items: left;
    height: 100%; 
}


@media (max-width: 849px){
    .NavigationItems {
        flex-flow: column; 
    }
}