/* For colors see : http://www.color-hex.com/color-palette/56806 : the Ratatouille palette :)

  light pink        #d87e79 	
  darker pink 	    #a94c40 	
	black             #12141c 	
	blue-ish purple   #3c3f63 	
	pink-ish purple   #573c56

  */

.App {
  text-align: center;
  flex-direction: column;
  /* Below 2 lines solve the below lines on-stocky footer issue
  Don't forget to also add below lines to direct child component:  
  .Content {
    flex: 1;
    min-height: 100%; // Really necessary?
  */
  display: flex;
  min-height: 100vh;
}

.App-title {
  margin-top: 16px;  
  padding: 2px;
  color: #a94c40;
  font-weight: bolder;
  font-size: 2em;
}

.App-subtitle {
  padding: 2px;
  font-size: 1.5em;
}


/* OLD STOCK 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 
*/