/* For colors see : 
    http://www.color-hex.com/color-palette/
      - 37498 : you are blue as a night in Cub
  dark blue #1   #410066 	
  blue #2     	 #490d73 	
	blue #3        #4d1a80 	
	blue #4        #40268c 	
  blue #5        #333399

  lightbluegrey #7070b7
  
  Additionnal colors
  - yellow #f1d923
  - dark red #f0150a

  */

.UnusedStyleToShowColors {
  /* Simple trick so that we can directly have an overview of the various 
     colors we use in the IDE */
     background: linear-gradient(to top right,
        #333399,
        #40268c,
        #4d1a80, 
        #490d73, 
        #410066,
        #7070b7,
        #f1d923,
        #f0150a      
        );  
}

.App {
  text-align: center;
  flex-direction: column;
  /* Below 2 lines solve the below lines on-stocky footer issue
  Don't forget to also add below lines to direct child component:  
  .Content {
    flex: 1;
    min-height: 100%; // Really necessary?
  */
  display: flex;
  min-height: 100vh;
}

.App-title {
  margin-top: 16px;  
  padding: 2px;
  color: #a94c40;
  font-weight: bolder;
  font-size: 2em;
}

.App-subtitle {
  padding: 2px;
  font-size: 1.5em;
}

:global .TextLink {
  color: black;
}

:global .TextLink a:hover,
:global .TextLink a:active {
  color: red;
  text-decoration: underline;
}



/* OLD STOCK 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 
*/